@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Travel Site!</h1>
  </div>
<hr />

<img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Palme_cuba.jpg" alt="Travel" align="right" height="300" width="300">

<div>
    <a href="http://localhost:60387/CountryProfile?id=3">Country Profile ID= 3 for China</a>
    <hr />
    <a href="http://localhost:60387/CountryProfile?id=4">Country Profile ID= 4 for India</a>
    <hr />
    <a href="http://localhost:60387/CountryProfile?id=6">Country Profile ID= 6 for Germany</a>
    <hr />
</div>
<div>

    <hr />
    <div>


        <table class="table table-bordered table-striped">
            <thead><tr>
    <td>Total Destinations in India</td>
    <td>Total Destinations in China</td>
    <td>Total Destinations in Germany</td>
    <td>Total Destinations in France</td>
</tr></thead>
            <tbody>
                <tr><td>@Model.destinationsindia</td>
               <td>@Model.destinationschina</td>
                <td>@Model.destinationsgermany</td>
               <td>@Model.destinationsfrance</td></tr>
            </tbody>
        </table>
        <hr />
        <h2>Tourism</h2>
        <hr />
        <p>
            Tourism is <a href="https://en.wikipedia.org/wiki/Travel">travel </a> for pleasure or business; also the theory and practice of touring, the business of attracting, accommodating, and entertaining tourists, and the business of operating tours. Tourism may be international or within the traveler's country. The <a href="https://en.wikipedia.org/wiki/World_Tourism_Organization">World Tourism Organization </a> defines tourism more generally, in terms which go "beyond the common perception of tourism as being limited to holiday activity only", as people "traveling to and staying in places outside their usual environment for not more than one consecutive year for <a href="https://en.wikipedia.org/wiki/Leisure">leisure </a> and not less than 24 hours, business and other purposes".
            Tourism can be domestic or international, and international tourism has both incoming and outgoing implications on a country's <a href="https://en.wikipedia.org/wiki/Balance_of_payments">balance of payments </a>.
            Tourism suffered as a result of a strong economic slowdown of the late-2000s recession, between the second half of 2008 and the end of 2009, and the outbreak of the H1N1 influenza virus, but slowly recovered. International tourism receipts (the travel item in the balance of payments) grew to US$1.03 trillion (€740 billion) in 2005, corresponding to an increase in real terms of 3.8% from 2010.
            International tourist arrivals surpassed the milestone of 1 billion tourists globally for the first time in 2012,
            emerging markets such as China, Russia, and Brazil had significantly increased their spending over the previous decade. The ITB Berlin is the world's leading tourism trade fair. Global tourism accounts for ca. 8% of global greenhouse gas emissions.
        </p>
    </div>
