@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My 3 Favorite Wikipedia Links!</h1>
</div>

<table>
    <thead>
    </thead>
    <tr>
        <th>Please click on the links to navigate to the respective Wikipedia pages</th>
    </tr>
    <tbody>
        <tr>
            <td><a href="http://localhost:50004/John_Mayer">John Mayer</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:50004/Real_Madrid">Real Madrid F.C</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:50004/UC">University Of Cincinnati</a></td>
        </tr>
    </tbody>
</table>
