@page
@model CoreWiki.Pages.Real_MadridModel
@{
    ViewData["Title"] = "Real_Madrid";
}

<h1> Real Madrid CF</h1>
<a href="https://en.wikipedia.org/wiki/Real_Madrid_CF">
    https://en.wikipedia.org/wiki/Real_Madrid_CF
</a>
<hr />

<img src="https://upload.wikimedia.org/wikipedia/en/5/56/Real_Madrid_CF.svg" alt="Real Madrid Logo" align="right">

<p>
    <strong>Real Madrid Club de Fútbol</strong> , meaning Royal Madrid Football Club), commonly referred to as <em>Real Madrid</em>, is a Spanish professional<a href="https://en.wikipedia.org/wiki/Association_football">football </a>club based in <a href="https://en.wikipedia.org/wiki/Madrid">Madrid</a>.
    Founded on 6 March 1902 as the Madrid Football Club, the club has traditionally worn a white home kit since inception. The word real is Spanish for "royal" and was bestowed to the club by <a href="https://en.wikipedia.org/wiki/Alfonso_XIII_of_Spain">King Alfonso XIII </a> in 1920 together with the royal crown in the emblem. The team has played its home matches in the 81,044-capacity <a href="https://en.wikipedia.org/wiki/Santiago_Bernab%C3%A9u_Stadium">Santiago Bernabeu Stadium </a>in downtown Madrid since 1947. Unlike most European sporting entities, Real Madrid's members (socios) have owned and operated the club throughout its history.
</p>

<h2>
    History
</h2>
<hr />

<p>
    <strong>EarlyYears (1904-1945)</strong>
</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Madrid_C.F._1905-06.jpg">

<p>
    Real Madrid's origins go back to when football was introduced to Madrid by the academics and students of the <a href="https://en.wikipedia.org/wiki/Instituci%C3%B3n_Libre_de_Ense%C3%B1anza"><em>Institucion Libre de Ensenanza</em></a>, which included several <a href="https://en.wikipedia.org/wiki/University_of_Cambridge">Cambridge </a>and <a href="https://en.wikipedia.org/wiki/Oxford">Oxford</a>] University graduates. They founded (Sociedad) Sky Football in 1897, commonly known as La Sociedad (The Society) as it was the only one based in Madrid, playing on Sunday mornings at Moncloa. In 1900, conflict between members caused some of them to leave and create a new club, Nueva Sociedad de Football (New Society of Football), to distinguish themselves from Sky Football. Among the dissenters were<a href="https://en.wikipedia.org/wiki/Juli%C3%A1n_Palacios">Julian Palacios</a> , recognized as the first Real Madrid president, <a href="https://en.wikipedia.org/wiki/Juan_Padrós">Juan Padros</a>Juan Padrós and<a href="https://en.wikipedia.org/wiki/Carlos_Padr%C3%B3s">Carlos Padros </a> , the latter two being brothers and future presidents of Real Madrid. In 1901 this new club was renamed as Madrid Football Club. Later, following a restructuring in 1902, Sky was renamed as <a href="https://en.wikipedia.org/wiki/New_Foot-Ball_Club">"New Foot-Ball Club"</a>. On 6 March 1902, after a new Board presided by Juan Padrós had been elected, Madrid Football Club was officially founded.
</p>

<h2>
    Crests and colours
</h2>
<hr />
<div align="center">
    <p>
        <strong>1902</strong>
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Real_emblem.png" width="200" height="200">
    <hr />
    <p>
        <strong>1908</strong>
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Real_emblem_4.png" width="200" height="200">
    <hr />
    <p>
        <strong>1920</strong>
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Real_emblem_5.png" width="200" height="200">
    <hr />
    <p>
        <strong>1931</strong>
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Escudo_Real_madrid_1931.png" width="200" height="200">
    <hr />
    <p>
        <strong>1941</strong>
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Escudo_real_madrid_1941b.png" width="200" height="200">
    <hr />
    <p>
        <strong>2001</strong>
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/en/5/56/Real_Madrid_CF.svg" width="200" height="200">
    <hr />
</div>
<br />
<br />
<h2>
    Records and statistics
</h2>
<hr />

<h5></h5>

<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Real Madrid</td>
            <td>146.00</td>
        </tr>
        <tr>
            <td>2</td>
            <td>FC Barcelona</td>
            <td>138.00</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Athletico Madrid</td>
            <td>127.00</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Juventus</td>
            <td>124.00</td>
        </tr>

    </tbody>
</table>

