@page
@model CoreWiki.Pages.UCModel
@{
    ViewData["Title"] = "UC";
}

<h1> University of Cincinnati</h1>
<a href="https://en.wikipedia.org/wiki/University_of_Cincinnati">
    https://en.wikipedia.org/wiki/University_of_Cincinnati
</a>
<hr />

<img src="https://upload.wikimedia.org/wikipedia/commons/6/63/University_of_Cincinnati_seal.svg" alt="University of Cincinnati Logo" width="200" height="200">

<p>
    The <strong>University of Cincinnati </strong>(<strong>UC</strong> or <strong>Cincinnati</strong>) is a <a href="https://en.wikipedia.org/wiki/Public_university">public</a><a href="https://en.wikipedia.org/wiki/Research_university">research university</a>in <a href="https://en.wikipedia.org/wiki/Cincinnati">Cincinnati</a>, <a href="https://en.wikipedia.org/wiki/Ohio">Ohio</a>. Founded in 1819 as <strong>Cincinnati College</strong>, it is the oldest institution of higher education in Cincinnati and has an annual enrollment of over 44,000 students, making it the second largest university in Ohio. It is part of the<a href="https://en.wikipedia.org/wiki/University_System_of_Ohio">University System of Ohio</a> University System of Ohio.
</p>

<h2>Campuses</h2>
<hr />

<p><strong>Uptown campus</strong></p>

<p>
    The Uptown campus includes the West(main), Medical and Victor Parkway campuses.

    <ul>
        <li>
            West (main) Campus: <small>This campus includes 62 buildings on 137 acres (0.55 km2). The university moved to this location in 1893. Most of the undergraduate colleges at the university are located on main campus. The exceptions are part of the<a href="https://en.wikipedia.org/wiki/University_of_Cincinnati_Academic_Health_Center">University of Cincinnati Academic Health Center</a> on the Medical campus. In spring of 2010 the University of Cincinnati was honored by being one of only 13 colleges and universities named by <a href="https://en.wikipedia.org/wiki/Forbes">Forbes</a> Forbes as one of "The World's Most Beautiful College Campuses".</small>
        </li>

        <li>
            Medical Campus: <small>this campus contains nineteen buildings on 57 acres (230,000 m2). It is catty corner to West campus on Martin Luther King Jr. Blvd. The undergraduate colleges of Allied Health Sciences and Nursing and graduate colleges of Medicine and the James L. Winkle College of Pharmacy are located there. The hospitals located there include University of Cincinnati Medical Center,<a href="https://en.wikipedia.org/wiki/Cincinnati_Children%27s_Hospital_Medical_Center">Cincinnati Children's Hospital Medical Center</a>, Cincinnati VA Medical Center, and the Shriners Hospital for Children.</small>
        </li>
        <li>
            Victory Parkway Campus: <small>this campus was formally home to the <a href="https://en.wikipedia.org/wiki/University_of_Cincinnati_College_of_Applied_Science">College of Applied Science</a>. It is roughly 3 miles (4.8 km) from main campus in the <a href="https://en.wikipedia.org/wiki/Walnut_Hills,_Cincinnati">Walnut Hills</a> neighborhood of Cincinnati and overlooks the <a href="https://en.wikipedia.org/wiki/Ohio_River">Ohio River</a>. When it merged with the College of Engineering to become the College of Engineering and Applied Science many of the classes were moved to main campus, however limited courses are till taught there. There is a shuttle that runs between this and main campus throughout the day.</small>
        </li>
    </ul>

    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Tangeman_University_Center_at_the_University_of_Cincinnati.jpg" alt="Tangeman University Center" width="200" height="200">

    <br /><br />
<p><strong>Sustainanbility</strong></p>
<p>In recent years the University of Cincinnati has made significant strides to include more green initiatives and encourage sustainability among students, faculty, and staff. In autumn of 2010, the University of Cincinnati maintained its position in green and sustainability initiatives by being named one of only 286 "Green Colleges" by The Princeton Review. The university has received this distinction each year since. UC was the only public university in Ohio and the only university in the Southern Ohio region included on this list. Some of the programs that helped achieve this distinction include: a bike share program where UC students can rent bikes from the university, an expanded recycling program, improved and expanded campus transportation options, the addition of vehicle charging stations, fuel pellet use in place of coal, greatly decreased energy and water use throughout campus, and the addition of 6 Leadership in Energy and Environmental Design (LEED) certified buildings since 2005. In 2007, former university president Nancy Zimpher signed the American College & University Presidents' Climate Commitment, which confirms the university's dedication to reducing its environmental impact and take the necessary steps to become climate neutral.</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/5/50/VontzCenter.jpg" alt="Vontz Center" align="right" width="200" height="200" />
<p>In 2010, UC opened up a privately funded athletic practice facility and women's lacrosse stadium named Sheakley Athletic Complex. As a continued effort to go green, a chilled water thermal energy storage tank was placed under the fields and at night water is chilled and then used to air-condition buildings on campus. The storage tank helps the university reach annual energy savings of about $1 million. In the fall of 2010, the university began placing "All Recycling" containers throughout campus. This expansion of recycling efforts and receptacles provides a greater opportunity for students, staff, and visitors to participate in recycling a broader range of materials. In 2010, UC recycled just over 4,600 tons of material, which was a 23 percent increase over the previous year.</p>

