@page
@model CarDealership.Pages.AboutusModel
@{
    ViewData["Title"] = "About Us";
}

    <h1 style="font-family:Calibri;color:floralwhite;text-align:center">
        About Us - RNS Car Dealership</h1>

        <head>
            <style>

                body {
                    background-image: url(https://cdn.motor1.com/images/mgl/m9lbq/s1/2018-dodge-challenger-srt-demon.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 1740px 1000px;
                    border: 0;
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            </style>
        </head>

        <hr /><div class="row">
            <div class="col-md-4">
                <h3 class="text-center" style="color:floralwhite;"><strong>INTERNET SALES MANAGER</strong></h3>

                <div class="thumbnail noborder">
                    <img alt="Rut" class="card-img-top" src="https://media.licdn.com/dms/image/C5103AQFJbV-kVjJEbA/profile-displayphoto-shrink_800_800/0?e=1576713600&v=beta&t=iXiA3GjogLk39jMSloftc0VB2w-KKz-2u4meDmJJnOs" /><div>
                         <p class="text-center" style="color:floralwhite;"><strong>Ruthvik C</strong> is the Internet Sales Manager for our Dealership throughout the US. He in charge of selling cars via the internet. They communicate with customers through phone calls, texts and email, but they also meet face to face with shoppers to arrange test drives and car delivery. In our experience, working with the internet manager is key to getting the best deal with the least hassle.</p>
              </div>
                    </div>
            </div>

            <div class="col-md-4">
                <h3 class="text-center" style="color:floralwhite;"><strong>GENERAL MANAGER OF RNS DEALERSHIP</strong></h3>

                <div class="thumbnail noborder">
                    <img alt="Nit" class="card-img-top" src="https://media.licdn.com/dms/image/C5603AQGmBXnGawqBAw/profile-displayphoto-shrink_800_800/0?e=1576713600&v=beta&t=x0EJqOnT4cJYtxMNaclahbAE93X7Yvrn9kHVtNvkgOU" /><div>
                        <p class="text-center" style="color:floralwhite;"><strong>Nitheesha Daka</strong> is our dealership's general manager and is the highest authority at the business. She presides over both the sales and service departments. If you have a problem with your vehicle that hasn't been resolved by anyone in the normal chain of command, the general manager is your next step.</p>
             </div>
                    </div>
            </div>

            <div class="col-md-4">
                <h3 class="text-center" style="color:floralwhite;"><strong>VEHICLE DELIVERY SPECIALIST</strong></h3>

                <div class="thumbnail noborder">
                    <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/52181523_10156920083658363_7703515309893746688_n.jpg?_nc_cat=105&_nc_oc=AQnbcjfo7wNVcMM-N2XhBLX1sqzRN0VSNy2Nv22vVlFXiZGfb9fyFHaeaP2wjpL1jWRIOrtpEIIeWs8D4If0cL3x&_nc_ht=scontent.fluk1-1.fna&oh=bd5a8a525f31773cd98ba22a0d65c69e&oe=5E363695"/>
                    <div>
                        <p class="text-center" style="color:floralwhite;"><strong>Siddharth N M</strong> is our go-to person for everything related to the details of every car we sell. You won't find vehicle delivery specialists at every dealership, but some of the bigger stores have them. This isn't someone who literally delivers the car to you. This is a tech expert whose job is to make sure you understand all the important features in your new car.</p>

                    </div>
</div>
            </div>
        </div>

        <hr/>

        <h6 style="color:floralwhite;">
            We at RNS Car Dealership treat all our customers with paramount importance. We know that you have high expectations, and as a car dealer we enjoy the challenge of meeting and exceeding those standards each and every time.
            Allow us to demonstrate our commitment to excellence!
        </h6>
        <hr/>
        <h6 style="color:floralwhite;">
            Our experienced sales staff is eager to share its knowledge and enthusiasm with you. We encourage you to browse our online inventory, and explore our Webpage to get a clearer understanding of our company.
            You can also request more information about a vehicle using our online form or by calling (501) 593-0095.
        </h6>
        <hr/>
        <h6 style="color:floralwhite;">Please do check our Cars page to view the plethora of cars we have of different makes and manufacturers to find the perfect one you are looking for! We look forward to serving you!</h6>

      
