@page
@model CarDealership.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<h1 style="font-family:Calibri;color:black;text-align:center">
    Help Page
</h1>

<hr />
<div>
    <h4><strong>ADMIN walk-through</strong></h4>
    <hr />
    <p>
        1.Navigate to the Branches Page and click the Create New Branch link
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72295646_10157516932623363_4648656113363845120_o.jpg?_nc_cat=108&_nc_oc=AQm6uD08rag4DjLWMioQuKLklxUPIx4mqvMMC-MIxDogk_Q8Cwf6wuqW1UOz76x_vOh48mKelqOGJcjJpo-oGS-F&_nc_ht=scontent.fluk1-1.fna&oh=308af6638d2687fee9e90c4b9d643b84&oe=5E62D222" />
        <hr />
        2.Enter the details for the new Branch and click on create
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72575611_10157516932598363_2745705775526576128_o.jpg?_nc_cat=111&_nc_oc=AQm_ROngZ4k88SveS8k82jZ6kJRQTkf0845hnGlgO48LD5coRKG6ELCantDXc91ht9R5aj5z4Zjk2YsnPdId-Uev&_nc_ht=scontent.fluk1-1.fna&oh=9a72ebe8e08fed4d522968acff3b98f2&oe=5E398F55" />
        <hr />
        3.Navigate to the Manufacturers Page to create a New Manufacturer
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72048085_10157516933083363_7985921169226203136_o.jpg?_nc_cat=103&_nc_oc=AQk0FlJdFGsb8XqY-V7u4_hqdfpL2f8s49q4dUIiW3gwfoRAm-3vfQ_eX_aDbzpBsBT9sk9CvBX8T2l-M6OkqAL-&_nc_ht=scontent.fluk1-1.fna&oh=6ddbdc685a8432c69e5e07a77a55d7b1&oe=5E2A30EB" />
        <hr />
        4.Enter the name of the new Manufacturer and click on create
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/73140607_10157516933098363_5899363367486750720_o.jpg?_nc_cat=104&_nc_oc=AQmKQ83-ZeAs4dtkQ6XQ9bl4LJtztdLF30RT-iYbNaSlWkQ5JzL6jpzu-Towic5VPaNq5JiKD6dzuYfMNm5xUU16&_nc_ht=scontent.fluk1-1.fna&oh=b1b3a716231bfffe019e06dd80882c5e&oe=5E1F1A0F" />
        <hr />
        5.Navigate to the MakeType Page to create new Make Types
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72297195_10157516932908363_6318303617228996608_o.jpg?_nc_cat=104&_nc_oc=AQn7EbzVoSZXH3QdLBVJRT9GtF1VNWM5qh7XvTJMD6906wCKZYm6s4bVIr6xK_9MCdi4j_idWs5buV_IMrYMs39w&_nc_ht=scontent.fluk1-1.fna&oh=f2c54115a99467285cbafb44ad72d447&oe=5E317D62" />
        <hr />
        6.Enter details of the Make Type for example SUV, Sedan, Hatchback etc.
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72258702_10157516932923363_141696842315333632_o.jpg?_nc_cat=104&_nc_oc=AQn4swCOPhx1V17FUyDl5AJtLgreR_3A5SZ0JRigp1rwLOpPkOolpMxiWtzZl2vkpc9bgiXsQU0vjg_BWImFQvxz&_nc_ht=scontent.fluk1-1.fna&oh=c0fd2564e2d868539fe567aadc21e6f4&oe=5E23B308" />
        <hr />
        7.Navigate to the Makes Page to create a new make for a specific Manufacturer
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72210366_10157516932883363_6144774483065438208_o.jpg?_nc_cat=107&_nc_oc=AQmyDon4rvymwJwqkEp78IjpZrmEFzuW5nLupWTRAxM1R5Yn2eoVKuyjomjY0sOM_3zZdqmJpfW4BAlfDdX1U4aw&_nc_ht=scontent.fluk1-1.fna&oh=cbbdb03b12cdd20a3467767621f0ee4a&oe=5E20CB7D" />
        <hr />
        8.Enter the Make and click on create
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72484770_10157516932893363_7360709703434764288_o.jpg?_nc_cat=111&_nc_oc=AQk6nYk2ZU6SJRuGq4Rps779ODziq5FiXn7-RNZ_TctdWSyfuYO-X6539OAeR525XPZ3qH0n6qEwYlRDkAsoaext&_nc_ht=scontent.fluk1-1.fna&oh=b14875c34387a9b60e2347563e19728f&oe=5E1DCAA3" />
        <hr />
        9.Navigate next to the Cars page to create a new Car in the database
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/73036730_10157516932633363_3202395433431203840_o.jpg?_nc_cat=104&_nc_oc=AQmrOCkKikyWJVXGtZd3zJ1cQ4siG3Rv-kfsfTeF_s5MVMOEOhcYBetZyiYYAVX7BuDSYERhplziGK2dCC8CccLe&_nc_ht=scontent.fluk1-1.fna&oh=fbd6e6b6582e2ff543e323de45739386&oe=5E231DCE" />
        <hr />
        10.Enter the details based on the drop downs as required.
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72041450_10157516932613363_5368834052008706048_o.jpg?_nc_cat=107&_nc_oc=AQl0XvQDBE2SRaUnfk0nNpD7DFnXTvduLacKp6ovL0sa38cXaF-PVKBjByksSeZJ0gXOIvcyETNW5jMLEhXMyWR1&_nc_ht=scontent.fluk1-1.fna&oh=61a4b42506db4b26a73a7854793aba79&oe=5E3611F8" />
        <hr />
        </p>
</div>
<hr />
<div>
    <h4><strong>CUSTOMER walk-through</strong></h4>
    </hr>
    <p>
        1.Navigate to the Customer Page to create a new Customer in the database
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72451142_10157516932768363_2670394881200881664_o.jpg?_nc_cat=101&_nc_oc=AQkjZZRJ9bqLJZoPQlqYXJ_Am0na8TcoP97ETqn7aDzGUwVIDiH-xPe47CHD9TsuJG4A26UJZhIxp8VlxRWrJnq6&_nc_ht=scontent.fluk1-1.fna&oh=c3c5ed4a260235da76288caccba49d37&oe=5E30C9E3" />
        <hr />
        2.Add the personal data and select the create button
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72447876_10157516932723363_6280099775756894208_o.jpg?_nc_cat=104&_nc_oc=AQn7Tgqdx54e6Vh4TJPN8PVuMKgJ_hoyU_xFNX1MRCsBqx0ynO1zz8i1IIXSJy0aXrR3QjgPeqNmJHwkgFsK5ZgT&_nc_ht=scontent.fluk1-1.fna&oh=ed8edee4cc64e312faac679dc042f76e&oe=5E19A066" />
        <hr />
        3.Navigate to the SearchBranches page type your preferred city to check if they have cars available
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72447400_10157516933253363_6619433515337383936_o.jpg?_nc_cat=109&_nc_oc=AQmS82nkSNYtgkoIsp6J_bqRv3xt3qDsuZYdPdvRDsJ6v2grN_eW7pL6Kn5RLKEjaR8Mj3c2RmI6YONT1Elt8idk&_nc_ht=scontent.fluk1-1.fna&oh=97e69809d47a3e0c266f165dd1079431&oe=5E1B085C" />
        <hr />
        4.If they do, update your URL to reflect the CarsinBranches page and the given city ID as shown
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72326981_10157516933208363_4874986690701164544_n.jpg?_nc_cat=105&_nc_oc=AQmdmoY4JMwh14PzB6dk1weaX7aUAJO50bI99EqZm7_YQvSxl6IW0fETaMZ0z-jq3U6okLLegYjLnO-qrMtZV02W&_nc_ht=scontent.fluk1-1.fna&oh=6de3dce6d7d5d2908036130a2cb582e0&oe=5E1EDA9E" />
        <hr />
        5.Once navigated to the CarsinBranches page, choose your car and click on Buy
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/71832426_10157516932728363_5794906103535894528_o.jpg?_nc_cat=108&_nc_oc=AQlb-vSSDePMky4_SHCj-VSmEtx6JksNNRGeuKgg0XhUL8XISIPMpt-w0DD6LJmYAGUIGJkyuDsUAkIdiNRuhGD9&_nc_ht=scontent.fluk1-1.fna&oh=d25a4534f90684354675cd15f2604ebf&oe=5E357A6E" />
        <hr />
        6.Select your Owner ID created in the Customer Page and click on Purchase
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72722754_10157516932738363_531575496496906240_o.jpg?_nc_cat=102&_nc_oc=AQm-JZ8wsRTjqw5Hhnojxj5KdAJ7qE3Z4v3Txt5odVJ4GyY__KQErMFzmhQjrOrWsuf9NItMmSVLFZNZAxDzvpGc&_nc_ht=scontent.fluk1-1.fna&oh=2bcc769842ca54a76904015098bc7c04&oe=5E31CD02" />
        <hr />
        7.A success Message of purchasing the car will be displayed
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72044107_10157516933068363_7399021155312467968_o.jpg?_nc_cat=109&_nc_oc=AQnSRAra6bsLihWr9r1-r4AVNZU28VPrktz1ACD1mT3jjGiC1W2NT6yitT8C1_oEDG0KgU6NFZYjv4MUMti2DB4U&_nc_ht=scontent.fluk1-1.fna&oh=7e4cbf5a555e053695c3644a9ed66056&oe=5E644A77" />
        <hr />
        8.You can navigate back to the Cars page to see the updated list of Cars which are sold
        <img alt="Sid" class="card-img-top" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.0-9/72032570_10157516933123363_2190288095230820352_o.jpg?_nc_cat=105&_nc_oc=AQkOcro7XrdJ9ZTh-h594s3hShPfVG0fRGjQlsqMwGfvQJCiEeXqOuvspBul3DY8lpKSAiFYnBr3jD3LJ48w-JxK&_nc_ht=scontent.fluk1-1.fna&oh=6c83fe3c986d1f8a57290e4227272a10&oe=5E16B5EB" />
        <hr />
        </p>
</div>

