@page
@model CarDealership.Pages.Makes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Make</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Make.Name" class="control-label"></label>
                <input asp-for="Make.Name" class="form-control" />
                <span asp-validation-for="Make.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make.MakeTypeID" class="control-label"></label>
                <select asp-for="Make.MakeTypeID" class ="form-control" asp-items="ViewBag.MakeTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Make.ManufacturerID" class="control-label"></label>
                <select asp-for="Make.ManufacturerID" class ="form-control" asp-items="ViewBag.ManufacturerID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
