@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Travel Website!</h1>
    </div>

<div>
    <img src="https://unsplash.com/photos/xu2WYJek5AI" alt="Travel">
</div>