@page
@model CarDealership.Pages.Cars.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.ID" />
            <div class="form-group">
                <label asp-for="Car.MakeID" class="control-label"></label>
                <select asp-for="Car.MakeID" class="form-control" asp-items="ViewBag.MakeID"></select>
                <span asp-validation-for="Car.MakeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.VIN" class="control-label"></label>
                <input asp-for="Car.VIN" class="form-control" />
                <span asp-validation-for="Car.VIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Manufactured_Year" class="control-label"></label>
                <input asp-for="Car.Manufactured_Year" class="form-control" />
                <span asp-validation-for="Car.Manufactured_Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Showroom_Price" class="control-label"></label>
                <input asp-for="Car.Showroom_Price" class="form-control" />
                <span asp-validation-for="Car.Showroom_Price" class="text-danger"></span>
            </div>
           
           
            <div class="form-group">
                <label asp-for="Car.BranchId" class="control-label"></label>
                <select asp-for="Car.BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                <span asp-validation-for="Car.BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
